---
AWSTemplateFormatVersion: 2010-09-09
Description: ECR Repository and S3 bucket for CodePipeline artifacts
  Bucket for the Docker Pipeline.
Resources:
  Repository:
    Type: AWS::ECR::Repository
  ArtifactBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    Properties:
      VersioningConfiguration:
        Status: Enabled
Outputs:
  ArtifactBucket:
    Value: !Ref ArtifactBucket
  Repository:
    Value: !Ref Repository
...
