---
AWSTemplateFormatVersion: 2010-09-09
Description: Cloud9 IDE
Parameters:
  BaselineStackName:
    Type: String
    Description: BASELINE STACK NAME
    Default: module-saas-bootcamp-base
  QSS3BucketName:
    Default: aws-bootcamp-us-east-1
    Description: S3 bucket name for the Bootcamp assets. Bootcamp bucket name
      can include numbers, lowercase letters, uppercase letters, and hyphens (-).
      It cannot start or end with a hyphen (-).
    Type: String
  QSS3KeyPrefix:
    Default: bootcamp/
    Description: S3 key prefix for the Bootcamp assets. Bootcamp key prefix
      can include numbers, lowercase letters, uppercase letters, hyphens (-), and
      forward slash (/).
    Type: String
  EventEngineRoleName:
    Description: IAM role name of the Event Engine player role
    Type: String
    Default: TeamRole
Resources:
  CheckRoleLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
        - Effect: Allow
          Principal:
            Service: lambda.amazonaws.com
          Action: sts:AssumeRole
      Policies:
      - PolicyName: ConfigPolicy
        PolicyDocument:
          Version: 2012-10-17
          Statement:
          - Sid: Logging
            Effect: Allow
            Action: logs:*
            Resource: '*'
          - Sid: IAM
            Effect: Allow
            Action: iam:*
            Resource: '*'
  CheckRoleFunction:
    Type: AWS::Lambda::Function
    DependsOn: CheckRoleLambdaRole
    Properties:
      FunctionName: check-role
      Description: Checks the existence of a given IAM role
      Handler: index.handler
      Runtime: nodejs12.x
      Timeout: 30
      Role: !GetAtt CheckRoleLambdaRole.Arn
      Code:
        S3Bucket:
          Fn::ImportValue: !Sub "${BaselineStackName}-TEMPLATEBUCKET"
        S3Key: !Sub "${QSS3KeyPrefix}Base/functions/packages/check-role/check-role.zip"
  CheckRole:
    Type: AWS::CloudFormation::CustomResource
    DependsOn: CheckRoleFunction
    Properties:
      ServiceToken: !GetAtt CheckRoleFunction.Arn
      RoleName: !Ref EventEngineRoleName
  IDE:
    Type: AWS::CloudFormation::Stack
    DependsOn: CheckRole
    Properties:
      TemplateURL: !Sub https://s3.amazonaws.com/${QSS3BucketName}/${QSS3KeyPrefix}Lab1/Part2/templates/saas-bootcamp-cloud9.template
      Parameters:
        SubnetIdentifier:
          Fn::ImportValue: !Sub "${BaselineStackName}-PublicSubnet1ID"
        EventEngineRole: !GetAtt CheckRole.Role
        EventEngineRoleName: !Ref EventEngineRoleName
...