---
AWSTemplateFormatVersion: 2010-09-09
Description: Cloud9 IDE
Parameters:
  BaselineStackName:
    Type: String
    Description: BASELINE STACK NAME
    Default: module-saas-bootcamp-base
  QSS3BucketName:
    Default: aws-bootcamp-us-east-1
    Description: S3 bucket name for the Bootcamp assets. Bootcamp bucket name
      can include numbers, lowercase letters, uppercase letters, and hyphens (-).
      It cannot start or end with a hyphen (-).
    Type: String
  QSS3KeyPrefix:
    Default: bootcamp/
    Description: S3 key prefix for the Bootcamp assets. Bootcamp key prefix
      can include numbers, lowercase letters, uppercase letters, hyphens (-), and
      forward slash (/).
    Type: String
Resources:
  IDE:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://s3.amazonaws.com/${QSS3BucketName}/${QSS3KeyPrefix}Lab1/Part2/templates/saas-bootcamp-cloud9.template
      Parameters:
        SubnetIdentifier:
          Fn::ImportValue: !Sub "${BaselineStackName}-PublicSubnet1ID"
...