<ng-include src="'views/user-nav.html'"></ng-include>
<form role="form">
  <div class="form-group">
    <label for="userName" class="control-label">Email</label>
    <input type="text" ng-model="user.userName" class="form-control" id="userName" required=""/>
  </div>
  <div class="form-group">
    <label for="firstName" class="control-label">First Name</label>
    <input type="text" ng-model="user.firstName" class="form-control" id="firstName" required=""/>
  </div>
  <div class="form-group">
    <label for="lastName" class="control-label">Last Name</label>
    <input type="text" ng-model="user.lastName" class="form-control" id="lastName" required=""/>
  </div>
  <div class="form-group">
    <label for="role" class="control-label">Role</label>
    <select class="form-control"  id="role" name="role" ng-model="user.role" ng-init="user.role" required="">
      <option ng-if="isSystemUser()" value='SystemAdmin'>System Administrator</option>
      <option ng-if="isSystemUser()" value='SystemUser'>Customer Support</option>
      <option ng-if="!isSystemUser()" value='TenantAdmin'>Administrator</option>
      <option ng-if="!isSystemUser()" value='TenantUser'>Order Manager</option>
    </select>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" ng-click="saveUser()" value="Save"/>
    <input type="submit" class="btn btn-secondary" ng-click="cancel()" value="Cancel"/>
    <br/>
    <br/>
    <div ng-if="error" class="alert alert-danger">{{ error }}</div>
  </div>
</form>
